/App4/App4/bin
/App4/App4.Android/bin
/App4/App4.iOS/bin
/App4/App4/obj
/App4/App4.Android/obj
/App4/App4.iOS/obj
/.vs
/HitoAppCore/HitoAppCore/obj
/HitoAppCore/HitoAppCore/bin
/HitoAppCore/HitoAppCore.Android/bin
/HitoAppCore/HitoAppCore.Android/obj
/HitoAppCore/HitoAppCore.iOS/bin
/HitoAppCore/HitoAppCore.iOS/obj
/HitoAppCore/HitoAppCore.UWP/obj
/HitoAppCore/HitoAppCore.UWP/bin
